/* You can add global styles to this file, and also import other style files */

body {
    background-color: #F2F3F5;
}

app-hostlist {
    width: 100%;
}

app-add-host {
    width: 100%;
}

app-update-list {
    width: 100%;
}

app-host-display {
    width: 100%;
}